@charset "utf-8";
@import url("settings_page.css");
@import url("app_center.css");
.titlebar {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	display: inline-block;
	padding-left: 24px;
	font-size: 12px;
	font-weight: 500;
	margin-bottom: 3px;
}
.backarrow {
	display: inline-block;
	height: 20px;
	width: 20px;
}
.titlebar_container {
	display: flex;
	align-items: center;
	position: fixed;
	margin-top: -14px;
	z-index: 5;
}