/* CSS Document */
:root {
	--imageButtons: none;
}
.app_section {
}
.large_banner {
    text-align: center;
    color: white;
	width: 100%;
	display: inline-block;
	background-image: url(../images/appBanners/onenote50.png);
	background-size: cover;
}
.large-bottom-center {
	font-family: 'Segoe UI';
	font-weight: 600;
	padding-top: 20%;
}
.large-bottom-center2 {
	font-family: 'Segoe UI';
	font-weight: 300;
	padding-bottom: 4%;
}
a {
	text-decoration: none;
	color: white;
	cursor: default;
}
.banner_link:hover {
	text-decoration: underline;
}
.small-banner {
	display: inline-block;
	width: 23.5%;
	background: var(--appCardBackground);
	margin-right: 1.5%;
	margin-top: 5%;
}
.small-banner a {
	color: var(--regTextColor);
	text-decoration: none;
}
.sb-speciaL {
	margin-right: 0 !important;
}
@media only screen and (max-width: 1000px) {
	.sb-speciaL {
		visibility: 0;
	}
	.small-banner {
		width: 48.9%;
	}
	.sb-special2 {
		margin-right: 0 !important;
	}
}
@media only screen and (max-width: 690px) {
	.sb-speciaL {
		visibility: 0;
	}
	.small-banner {
		width: 48.8%;
	}
	.sb-special2 {
		margin-right: 0 !important;
	}
	.large-bottom-center {
		padding-top: 128px;
	}
	.large-bottom-center2 {
		padding-bottom: 26px;
	}
}
@media only screen and (max-width: 550px) {
	.sb-speciaL {
		visibility: 0;
	}
	.small-banner {
		width: 100%;
		margin-right: 0 !important;
	}
}
.small-banner:hover {
	background: var(--appCardBackgroundHover);
	box-shadow: 0 4px 8px 0 var(--cardShadowColor);
}
.small-banner-image {
	width: 100%;
	height: auto;
}
.small-banner h3 {
	padding-top: 12%;
	padding-left: 4%;
	font-weight: 600;
}
.small-banner p {
	padding-left: 4%;
	padding-bottom: 4%;
}
