@font-face {
  font-family: 'icomoon';
  src:  url('https://i.icomoon.io/public/temp/0edaf78ef5/Adscititious/icomoon.eot?ju1zj9');
  src:  url('https://i.icomoon.io/public/temp/0edaf78ef5/Adscititious/icomoon.eot?ju1zj9#iefix') format('embedded-opentype'),
    url('https://i.icomoon.io/public/temp/0edaf78ef5/Adscititious/icomoon.ttf?ju1zj9') format('truetype'),
    url('https://i.icomoon.io/public/temp/0edaf78ef5/Adscititious/icomoon.woff?ju1zj9') format('woff'),
    url('https://i.icomoon.io/public/temp/0edaf78ef5/Adscititious/icomoon.svg?ju1zj9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-uniE10A:before {
  content: "\e711";
}
.icon-back:before {
  content: "\e830";
}
.icon-minimize:before {
  content: "\e921";
}
.icon-maximize:before {
  content: "\e922";
}
.icon-restore:before {
  content: "\e923";
}
.icon-home:before {
  content: "\e901";
}
.icon-message:before {
  content: "\e900";
}
.icon-onedrive:before {
  content: "\eaaf";
}
