@import url("page-animation.css");
body {
	margin: 0;
}
html {
	background-color: var(--appbodyBackgroundColor);
	overflow-x: hidden;
}
a {
	cursor: default;
}
.appPage {
    font-family: "Segoe UI", sans-serif;
	color: var(--bodyTextColor);
}
.app_image {
	margin-top: 28px;
}
.appPage>div {
    position: relative;
    padding: 30px 25px;
    background-color: var(--appBodyBackgroundColor);
}
.appPage>div>div {
	display: inline-block;
	height: 180px;
	vertical-align: top;
	margin-top: 28px;
}
.appPage>div>div>h1 {
    vertical-align: top;
    margin-top: -10px;
    padding-left: 20px;
    padding-top: 0px;
	font-weight: 600;
}
.appPage>div>div>p {
    vertical-align: top;
    margin-top: -22px;
	padding-left: 20px;
}
.appPage>div>div>h3 {
    vertical-align: top;
	margin-top: -6px;
	font-weight: 400;
	padding-left: 20px;
}
.downloadButton {
    display: inline-block;
    text-decoration: none;
	margin-left: -24px;
	visibility: hidden;
}
.downloadButton::after {
    content: 'Install';
	visibility: visible;
	text-align: center;
	border: 2px solid #0078D7;
    background-color: #0078D7;
    color: #fff;
    padding: 3px 26px 3px 26px;
    text-decoration: none;
	margin-left: 20px;
	transition: 0.2s;
}
.downloadButton:hover::after {
	box-shadow: 0 4px 8px 0 var(--cardShadowColor);
}
.downloadButton:active::after {
	background-color: #808080;
	border: 2px solid #808080;
}
.appPage>div>div2>h2 {
    padding-top: 10px;
	font-weight: 600;
}
.appPage>div>div2>div {
	background-color: var(--appbodyContrastColor);
    padding: 1px 20px;
}
.appPage>div>divs>h2 {
	font-weight: 600;
}
.appPage>div>divs>p {
    background-color: var(--appbodyContrastColor);
    padding: 100px 16px;
}
.appPage>div>divs {
	overflow: scroll;
	white-space:nowrap;
	display: block;
}
.appPage>div>divs>img {
	height: 200px;
	padding-right: 20px;
	padding-bottom: 20px;
}
.appPage>div>div3 {
    width: calc(50% - 10px);
    display: inline-block;
    float: left;
    padding-right: 10px;
}
.appPage>div>div3>h2 {
	font-weight: 600;
}
.appPage>div>div4 {
    width: calc(50% - 10px);
    display: inline-block;
    padding-left: 10px;
}
.appPage>div>div4>h2 {
	font-weight: 600;
}
.appPage>div>div5>p {
    border-bottom: 1px solid var(--appbodyContrastColor);
    padding-bottom: 6px;
    margin-top: -10px;
}
.appPage>div>div5>h2 {
	font-weight: 600;
}

/*~~~//TITLEBAR CSS EXCERPT (from app_center_standardui.css//~~~*/
:root {
	--bodyTextColor: rgb(238,238,238);
	--appbodyBackgroundColor: rgb(46,46,46);
	--invertImage100: invert(100%);
	--sidenav-ham-width: 256px;
}
/*//TITLEBAR and NAVIGATION//*/
topnav {
	position: fixed;
	width: 100%;
	/*-webkit-app-region: drag;*/
	background-color: var(--appbodyBackgroundColor);
	filter: opacity(94%);
	z-index: 5;
	color: var(--bodyTextColor);
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	height: 78px;
}
@supports (-webkit-backdrop-filter: blur(20px)) or (backdrop-filter: blur(20px)) {
	topnav {
		filter: opacity(100%);
    	backdrop-filter: blur(20px) saturate(100%);
    	-webkit-backdrop-filter: blur(22px);
    	background-color: var(--appbarBackgroundColorBlur);
    	background-image: url(http://api.thumbr.it/whitenoise-362x370.png?background=ffffff00&noise=a0a0a0&density=35&opacity=4);
	}
}
/*titlebar*/
topnav>div>header {
	font-size: 0.75em;
	padding-left: 12px;
	font-weight: 500;
	line-height: 250%;
	width: calc(100% - 138px);
	-webkit-app-region: drag;
}
/*navigation bar*/
#sidenav {
	font-size: 0.94em;
	display: inline-block;
	-webkit-app-region: no-drag;
	padding: 14px 0 14px 50px;
}
#sidenav>div {
	display: inline-block;
}
/*navigation bar link*/
#sidenav a, .navright a {
	text-decoration: none;
	color: var(--bodyTextColor);
	filter: contrast(60%);
	padding: 10px;
	transition: box-shadow 0.05s ease-in-out;
}
#sidenav a:hover, .navright a:hover {
	filter: contrast(90%);
	margin: 0;
	padding: 10px;
	/*box-shadow: 0 4px 8px 0 var(--cardShadowColor);
	outline: 1px solid rgba(128,128,128,0.1);*/
}
#sidenav a:target, .navright a:target {
	border-bottom: 2px solid #0063B1;
	filter: contrast(100%);
	margin: 0 10px;
	padding: 10px 0;
}
#sidenav a:target:hover {
	box-shadow: none;
	outline: none;
}
/*#sidenav a:focus {
	outline: none;
}
/*navigation bar - right side*/
.navright {
	font-size: 0.94em;
	-webkit-app-region: no-drag;
	float: right;
	z-index: 2;
	width: auto;
	margin-top: 14px;
}
/*back button svg*/
/*.back {
	width: 16px;
	padding: 16px;
	filter: var(--invertImage100);
	-webkit-app-region: no-drag;
	margin: 0 0 0 -657px;
	position: fixed;
	cursor: default;
}
.back:hover {
	background-color: hsla(0,0%,0%,0.10);
}*/
/*back button unicode*/
back {
	display: inline-block;
	position: fixed;
	margin: 0 0 0 -636px;
}
.back {
    color: var(--bodyTextColor);
}
/*navigation dropdown*/
select {
	display: none;
	height: 48px;
	background-color: var(--appbodyBackgroundColor);
	color: var(--bodyTextColor);
	border: none;
	-webkit-app-region: no-drag;
	font-size: 0.94em;
}
select:focus {
	outline: none;
}
select::after {
	background-color: var(--appbodyBackgroundColor);
	color: var(--bodyTextColor);
}
/*side navigation hamburger menu*/
#hamburger-button {
	display: none;
	position: fixed;
	margin: 0 0 0 48px;
}
#sidenav-ham {
	background-color: #111;
	background-color: rgba(45,45,45,.6);
	height: 100vh;
	width: var(--sidenav-ham-width);
	position: fixed;
	transition: margin-left 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
	margin-left: -256px;
	z-index: 5;
	background-color: var(--appbodyBackgroundColor);
	filter: opacity(94%);
}
@supports (-webkit-backdrop-filter: blur(20px)) or (backdrop-filter: blur(20px)) {
	#sidenav-ham {
		filter: opacity(100%);
    	backdrop-filter: blur(20px) saturate(100%);
    	-webkit-backdrop-filter: blur(22px);
    	background-color: var(--appbarBackgroundColorBlur);
    	background-image: url(http://api.thumbr.it/whitenoise-362x370.png?background=ffffff00&noise=a0a0a0&density=35&opacity=4);
	}
}
#sidenav-ham a:target {
	border-left: 4px solid #0063b1;
}
#sidenav-ham .btn {
	margin: 1px;
}
.sideButton {
	background-color: #111;
	background-color: transparent;
	trasition: none;
	transition: 0.1s background-color;
}
.sideButton:hover {
	background-color: transparent;
	background-color: rgba(136,136,136,0.30);
}
.btn-border {
	display: inline-block;
}
#sidenav-ham .sideButtonText {
	color: var(--bodyTextColor);
	margin: 0;
	line-height: 38px;
	width: 218px;
	padding: 0 18px;
	font-size: 1em;
}
.hamburgerMenuShow, .hamburgerMenuHide, .back {
	width: 48px;
	line-height: 48px;
	margin: 0;
	text-align: center;
	font-family: 'Segoe MDL2 Assets';
	display: inline-block;
	trasition: none;
	transition: 0.1s background-color;
}
.hamburgerMenuShow:hover, .back:hover {
	background-color: transparent;
	background-color: rgba(136,136,136,0.30);
}
#sidenav-ham .menuButtonMargin {
	margin: 28px 0px 8px 0px;
}
/*switch to dropdown or sidenav-ham on smaller screen size*/
@media only screen and (max-width: 760px) {
	select {
		display: block;
		margin-left: 48px;
	}
	#sidenav {
		display: none;
	}
	.navright {
		display: none;
	}
	back {
		margin: 0 0 0 1px;
	}
	#hamburger-button {
		display: inline-block;
	}
}
/*window buttons container*/
window_buttons {
	height: 32px;
	width: 138px;
	-webkit-app-region: no-drag;
	z-index: 999;
	margin-top: -80px;
}
window_buttons:hover {
	opacity: 1 !important;
}
/*close button*/
.window_buttons {
	display: inline-block;
	float: right;
	height: 14px;
	padding: 9px 16px;
	filter: var(--invertImage100);
	-webkit-app-region: no-drag;
}
.window_buttons:hover {
	background-color: #17EEDC;
	filter: invert(100%);
	-webkit-app-region: no-drag;
}
/*maximize and minimize buttons*/
.window_buttons_b {
	display: inline-block;
	float: right;
	height: 10px;
	padding: 11px 18px;
	filter: var(--invertImage100);
	-webkit-app-region: no-drag;
}
.window_buttons_b:hover {
	background-color: hsla(0,0%,0%,0.12);
	-webkit-app-region: no-drag;
}
/*----------*/
/*//WINDOW BORDERS//*/
borders>bordertop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 1px;
	background-color: #0063B1;
	z-index: 5;
}
borders>borderbottom {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 1px;
	background-color: #0063B1;
	z-index: 5;
}
borders>borderleft {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 1px;
	background-color: #0063B1;
	z-index: 5;
}
borders>borderright {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	width: 1px;
	background-color: #0063B1;
	z-index: 5;
}
/*----------*/
/*~~~//----------//~~~*/
/*hide scrollbar*/
::-webkit-scrollbar {
    width: 0px;
}