@charset "utf-8";
:root {
	--bodyTextColor: #111;
	--appbodyBackgroundColor: #f0f0f0;
	--appbarBackgroundColor: #E7E7E7;
	--regTextColor: #212121;
	--invertImage100: invert(0%);
}
.appbar_titlebar {
	position: fixed;
	height: 32px;
	width: 100%;
	margin: -88px 0 0 -8px;
	-webkit-user-select: none;
	-webkit-app-region: drag;
	z-index: 5;
}
.title {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	display: inline-block;
	margin-left: 12px;
	font-size: 12px;
	font-weight: 500;
	line-height: 32px;
	color: var(--bodyTextColor);
}
.appbar_win_buttons {
	float: right;
	height: 32px;
	width: 138px;
	margin: -97px 0 0 85.2%;
	-webkit-user-select: none;
	-webkit-app-region: no-drag;
}

.back {
	width: 16px;
	padding: 15px;
	position: fixed;
	margin: -56px 0 0 -8px;
	z-index: 6;
	filter: var(--invertImage100);
}
.back:hover {
	background-color: hsla(0,0%,0%,0.10);
	-webkit-app-region: no-drag;
}
.topnav_container {
	margin: -88px 0 0 -8px;
	padding: 44px 0 14px 0;
	filter: opacity(96%);
	position: fixed;
	z-index: 4;
	background-color: var(--appbarBackgroundColor);
	width: 100%;
	-webkit-user-select: none;
	-webkit-app-region: drag;
}
@supports (-webkit-backdrop-filter: blur(22px)) or (backdrop-filter: blur(22px)) {
	.topnav_container {
		filter: opacity(80%);
		backdrop-filter: blur(22px);
		-webkit-backdrop-filter: blur(22px);
	}
}
.topnav {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-weight: normal;
	margin: 0 0 -5px 37px;
	display: inline-block;
	font-size: 15px;
	-webkit-app-region: no-drag;
}
.topnavlink {
	color: var(--bodyTextColor);
	text-decoration: none;
	filter: contrast(60%);
	-webkit-app-region: no-drag;
	margin: 0 0px 0 20px;
}
.topnavlink:hover {
	filter: contrast(90%);
	-webkit-app-region: no-drag;
}
.topnavlink_selected {
	filter: contrast(100%);
	border-bottom: 2px solid #0078D7;
	padding-bottom: 8px;
	-webkit-app-region: no-drag;
}
.topnavright {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-weight: normal;
	float: right;
	margin-right: 12px;
	margin-bottom: -5px;
	font-size: 15px;
	-webkit-app-region: no-drag;
}

#body {
	background-color: var(--appbodyBackgroundColor);
	padding-top: 80px;
	color: var(--bodyTextColor);
}
.howInstallAppsAll {
	padding-left: 4px;
}
.page_banner {
	color: white;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	text-align: center;
	padding-bottom: 1.8%;
	padding-left: 18%;
	padding-right: 18%;
}
.page_banner_head {
	padding-top: 3.4%;
	margin-bottom: -1%;
}
