@charset "utf-8";
:root {
	--bodyBackgroundColor: #fff;
}
.iframe_a {
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 999;
	border: none;
	margin: -8px 0 0 -9;
	background: hsla(0,0%,0%,0.00);
}
.titlebarBase {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	display: inline-block;
	margin-left: 60px;
	font-size: 12px;
	font-weight: 500;
	line-height: 32px;
	color: var(--bodyTextColor);
}
.backarrowBase {
	display: inline-block;
	position: fixed;
	height: 13px;
	filter: var(--invertImage100);
	margin: -8px 0 0 -8px;
	padding: 11px 18px 9px 18px;
}
.backarrowBase:hover {
	background-color: hsla(0,0%,0%,0.15);
	-webkit-app-region: no-drag;
}
.titlebar_containerBase {
	display: flex;
	align-items: center;
	position: fixed;
	z-index: 5;
	width: 100%;
	height: 32px;
	margin: -8px 0 0 -9px;
	-webkit-user-select: none;
	-webkit-app-region: drag;
	border: 1px solid #0063B1;
	border-bottom: none;
}
.titlebar_container_bawckgroundBase {
	background-color: transparent;
}
.titlebar_buttonBase {
	-webkit-app-region: no-drag;
	z-index: 99;
}
.titlebar_win_buttonsBase {
	float: right;
	height: 20px;
	width: 138px;
	margin: 33px 2px 0 85.2%;
	-webkit-user-select: none;
	-webkit-app-region: no-drag;
	border: 1px hidden #0063B1;
	border-bottom: none;
	border-left: none;
}
.titlebar_win_buttonsBase:hover {
	opacity: 1 !important;
}
.window_buttonsBase {
	display: inline-block;
	float: right;
	height: 14px;
	padding: 9px 16px;
	filter: var(--invertImage100);
	-webkit-app-region: no-drag;
}
.window_buttonsBase:hover {
	background-color: #17EEDC;
	filter: invert(100%);
	-webkit-app-region: no-drag;
}
.window_buttons_bBase {
	display: inline-block;
	float: right;
	height: 10px;
	padding: 11px 18px;
	filter: var(--invertImage100);
	-webkit-app-region: no-drag;
}
.window_buttons_bBase:hover {
	background-color: hsla(0,0%,0%,0.12);
	-webkit-app-region: no-drag;
}
::-webkit-scrollbar {
    width: 0px;
}
.baseBody {
	-webkit-user-select: none;
	background-color: var(--bodyBackgroundColor);
}
html {
	border-left: 1px solid #0063B1;
	border-right: 1px solid #0063B1;
}
.bBorderBase {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 1px;
	background-color: #0063B1;
	z-index: 5;
}