@charset "utf-8";
@import url("settings_page.css");
@import url("app_center.css");
:root {
	--invertImage100: invert(100%);
	--bodyTextColor: rgb(238,238,238);
}
.titlebar {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	display: inline-block;
	margin-left: 60px;
	font-size: 12px;
	font-weight: 500;
	line-height: 32px;
	color: var(--bodyTextColor);
}
.backarrow {
	display: inline-block;
	position: fixed;
	height: 13px;
	filter: var(--invertImage100);
	margin: -20px 0 0 -8px;
	padding: 11px 18px 9px 18px;
}
.backarrow:hover {
	background-color: hsla(0,0%,0%,0.15);
	-webkit-app-region: no-drag;
}
.titlebar_container {
	display: flex;
	align-items: center;
	position: fixed;
	z-index: 5;
	width: 100%;
	height: 32px;
	margin: -20px 0 0 -9px;
	-webkit-user-select: none;
	-webkit-app-region: drag;
	border: 1px solid #0063B1;
	border-bottom: none;
}
.titlebar_container_background {
	background-color: var(--bodyBackgroundColor);
}
.titlebar_button {
	-webkit-app-region: no-drag;
	z-index: 99;
}
.titlebar_win_buttons {
	float: right;
	height: 32px;
	width: 138px;
	margin: 20px 1px 0 85.2%;
	-webkit-user-select: none;
	-webkit-app-region: no-drag;
	border: 1px solid #0063B1;
	border-bottom: none;
	border-left: none;
}
.titlebar_win_buttons:hover {
	opacity: 1 !important;
}
.window_buttons {
	display: inline-block;
	float: right;
	height: 14px;
	padding: 9px 16px;
	filter: var(--invertImage100);
	-webkit-app-region: no-drag;
}
.window_buttons:hover {
	background-color: #17EEDC;
	filter: invert(100%);
	-webkit-app-region: no-drag;
}
.window_buttons_b {
	display: inline-block;
	float: right;
	height: 10px;
	padding: 11px 18px;
	filter: var(--invertImage100);
	-webkit-app-region: no-drag;
}
.window_buttons_b:hover {
	background-color: hsla(0,0%,0%,0.12);
	-webkit-app-region: no-drag;
}
::-webkit-scrollbar {
    width: 0px;
}
.body, #body, #bodyhome {
	-webkit-user-select: none;
	background-color: var(--bodyBackgroundColor);
}
html {
	border-left: 1px solid #0063B1;
	border-right: 1px solid #0063B1;
}
p:hover, h1:hover, h2:hover, h3:hover, h4:hover, h5:hover; {
	cursor: default;
}
.reg_cursor {
	cursor: default;
}
.bBorder {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 1px;
	background-color: #0063B1;
	z-index: 5;
}
.animate-zoom {
	animation: animatezoom 0.2s, opac 0s;
	animation-timing-function: ease-out;

}
@keyframes animatezoom {
	from {
    	transform: scale(0.98)
    }
    to {
    	transform: scale(1)
    }
}
@keyframes opac {
	from {
		opacity:0.5
	}
	to {
		opacity:1
	}
}
.section-animation-fix {
	margin-top: -4px;
}
