@charset "utf-8";
@import url("settings_page.css");
@import url("app_center.css");
:root {
	--invertImage100: invert(0%);
	--bodyTextColor: #111;
}
.titlebar {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	display: inline-block;
	margin-left: 10px;
	font-size: 12px;
	font-weight: 500;
	line-height: 32px;
	color: var(--bodyTextColor);
}
.backarrow {
	display: inline-block;
	position: fixed;
	height: 13px;
	filter: var(--invertImage100);
	margin: -20px 0 0 -8px;
	padding: 9px 18px;
}
.titlebar_container {
	display: flex;
	align-items: center;
	position: fixed;
	z-index: 5;
	width: 100%;
	height: 32px;
	margin: -20px 0 0 42px;
	-webkit-user-select: none;
	-webkit-app-region: drag;
}
.titlebar_container_background {
	background-color: var(--bodyBackgroundColor);
}
.titlebar_button {
	-webkit-app-region: no-drag;
	z-index: 99;
}
.titlebar_win_buttons {
	float: right;
	height: 32px;
	width: 138px;
	margin: 20px 0 0 85.2%;
	-webkit-user-select: none;
	-webkit-app-region: no-drag;
}
.window_buttons {
	display: inline-block;
	float: right;
	height: 14px;
	padding: 9px 16px;
	filter: var(--invertImage100);
	-webkit-app-region: no-drag;
}
.window_buttons:hover {
	background-color: #17EEDC;
	filter: invert(100%);
	-webkit-app-region: no-drag;
}
.window_buttons_b {
	display: inline-block;
	float: right;
	height: 10px;
	padding: 11px 18px;
	filter: var(--invertImage100);
	-webkit-app-region: no-drag;
}
.window_buttons_b:hover {
	background-color: hsla(0,0%,0%,0.12);
	-webkit-app-region: no-drag;
}
::-webkit-scrollbar {
    width: 0px;
}
.body, #body, #bodyhome {
	-webkit-user-select: none;
}